body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}

main {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h2 {
    color: #007bff;
}

ul#lista-practicas li {
    display: block;
}
.boton-retroceder {
    background-image: url('flecha.png');
    background-size: auto 100%; 
    background-position: left center; 
    background-repeat: no-repeat;
    border-radius: 50px;
    padding: 24px 24px;
    color: #fff;
    font-size: 30px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  nav {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 52px;
    background-color: #222;
    overflow: hidden;
  
    transition: width 0.3s;
  }
  nav:hover {
    width: 400px;
  }
  
  nav .bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
  }
  
  nav .user {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 180px;
    transform: translateX(-300px);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  nav:hover .user {
    transform: translateX(0);
    opacity: 1;
  }
  
  nav .user img {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }
  
  nav .links {
  }
  
  nav .links a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 400px;
    overflow: hidden;
  }
  nav .links a:hover {
    background-color: rgb(31, 135, 205);
    color: white;
  }
  
  nav .links a .icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('fondo.jpg');
  }
  
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-left: 50px; 
}

  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .body_table{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 800px;
    margin: 100px auto;
  }
  
  td,
  th {
    border: solid 1px #ccc;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #ddd;
  }
  
  td:nth-child(3),
  th:nth-child(3) {
    text-align: right;
  }
  td:nth-child(4),
  th:nth-child(4) {
    text-align: center;
  }
  
  tbody tr:hover {
    background-color: rgb(160, 222, 255) !important;
  }
  
  thead {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
  }