body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  nav {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 52px;
    background-color: #9c2929c2;
    overflow: hidden;
  
    transition: width 0.3s;
  }
  nav:hover {
    width: 400px;
  }
  
  nav .bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
  }
  
  nav .user {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 180px;
    transform: translateX(-300px);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  nav:hover .user {
    transform: translateX(0);
    opacity: 1;
  }
  
  nav .user img {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }
  
  nav .links {
  }
  
  nav .links a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 400px;
    overflow: hidden;
  }
  nav .links a:hover {
    background-color: rgb(31, 135, 205);
    color: white;
  }
  
  nav .links a .icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .body_table{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 800px;
    margin: 100px auto;
  }
  
  td,
  th {
    border: solid 1px #ccc;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #ddd;
  }
  
  td:nth-child(3),
  th:nth-child(3) {
    text-align: right;
  }
  td:nth-child(4),
  th:nth-child(4) {
    text-align: center;
  }
  
  tbody tr:hover {
    background-color: rgb(160, 222, 255) !important;
  }
  
  thead {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
  }
