body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(60, 148, 72, 0.9); 
    padding: 15px 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 100px; 
    margin-right: 100px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s; 
}

header nav ul li a:hover {
    color: #00254d; 
}

.logo {
    max-height: 70px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 30px; 
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px; 
}

.login-container {
    text-align: center;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 70px;
    max-width: 400px;
    margin: 10% auto;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
}

input {
    padding: 10px 40px;
    width: calc(100% - 60px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3c8121;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 5px;
}

.btn-cancelar {
    background-color: #dc3545;
}

button:hover {
    background-color: #0056b3;
}

form input, form button {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 30px;
}

.button-container {
    display: flex; 
    justify-content: space-between; 
}

.back-button, button[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.back-button:hover, button[type="submit"]:hover {
    background-color: #1d1515;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}
.form-container {
    background-color: rgba(34, 95, 37, 0.863);
    padding: 50px;
    border-radius: 80px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
}
footer img {
    width: 1000px;
    margin-top: -30px;
}
.b-container{
    text-align: center;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 70px;
    max-width: 400px;
    margin: 10% auto;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
}

.error-messageE {
    color: red;
    font-size: 14px;
    display: none;
}
